.FormGroupTerms {
    display: flex;
    flex-direction: row;
    align-items: center;  
    gap: 8px;
  }
  .FormGroupTerms input[type="checkbox"] {
    width: auto;
  }
  .TextLinkTerms {
    color: var(--color-accent);
    text-decoration: none;
  }
  .TextLinkTerms:hover {
    color: rgba(0, 157, 220, 0.7);
    text-decoration: underline;
  }

